
# Created by https://www.toptal.com/developers/gitignore/api/jekyll
# Edit at https://www.toptal.com/developers/gitignore?templates=jekyll

### Jekyll ###
.sass-cache/
.jekyll-cache/
.jekyll-metadata
/node_modules/*
# End of https://www.toptal.com/developers/gitignore/api/jekyll
