---
layout: default
title: "הקוד השומרי"
---




<main id="main" class="">
	{% include hero.html %}
	{% include about.html %}
	{% include projects.html %}
	{% include contact.html %}
	{% include scroll_to_top.html %}
</main>

<script type="text/javascript">
	const header = document.querySelector("#headerNav")
	const scroll_top = document.querySelector("#scrollToTop")
	const menu_btn = document.querySelector("#menu-btn")
	const menu = document.querySelector("#menu")
	if (window.scrollY > 100) {
		header.classList.add("show")
		scroll_top.classList.add("show")
	}
	else{
		header.classList.remove("show")
		scroll_top.classList.remove("show")
	}
	document.addEventListener("scroll", () => {
		if (window.scrollY > 100) {
			header.classList.add("show")
			scroll_top.classList.add("show")
		}
		else{
			header.classList.remove("show")
			scroll_top.classList.remove("show")
		}
	});
	menu_btn.addEventListener("click", () => {
		menu.classList.toggle('hidden')
	})
</script>
