---
---
//
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
@import "main";





* {
  font-family: 'Rubik', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  color: #12026f;
}

.min-width-300{
  min-width: 300px
}
.p-text{
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.dd{
  color: inherit;
}

.rotate90{
  transform: rotate(90deg);
}

.rotate180{
  transform: rotate(180deg);
}


.rotate270{
  transform: rotate(270deg);
}
.w-4screen{
  width: 400vw;
}

.stickyness {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.tranfrom-center{
   transform: translate(-50%, -50%);
}

.image-cover{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay{
  background-color: rgba(0,0,0,0.3);
}

.overlay-lg{
  background-color: rgba(0,0,0,0.5);
}

.h-32rem{
  height: 32rem;
}

.h-20rem{
  height: 20rem;
}

nav{
	z-index: 9999;
}

.z-9999{
  z-index: 9999;
}

.hidden{
  display: none;
}

.ui-effects-wrapper{
	margin-top: 1rem;
}

#lib-logo{
  color: white;
  line-height: 16px;
  padding: 2px 7px;
  border-radius: 8px;
  font-family: 'Suez One', serif;
  border-right: 3px solid white;
  border-left: 3px solid white;

}

.scrollToTop{
	z-index: 9999;
	cursor: pointer;
}

.scrollToTop:active, .scrollToTop:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.grad{
	background: rgb(2,0,36);
background: linear-gradient(110deg, #472b62 60%, #bc4873 60%);
}

.next:active, .next:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.er{
	color: red;
	float: left;
}

input.error{
	background: rgba(255,0,0,0.3);
}

.form{
	background:#fff;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;
	padding:20px 30px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	position:relative;
}

.hands{
	background-image: image-url(	'hands.webp');
	background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover;
}
.contact-input{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;border-bottom:2px solid #bebed2;
}
.contact-input:focus{
	border-bottom:2px solid #78788c;
}
.bb{
	float:right;
	padding:8px 12px;margin:8px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid #78788c;
	background:0;color:#5a5a6e;
	cursor:pointer;
	transition:all .3s;
}
.bb:hover{
	background:#78788c;
	color:#fff;
}

// gallery

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

}


.leading-big{
  line-height: 2 !important;
}

.infos{
  min-height: 60%;
}
label{
  opacity: 0;
  position: absolute;
  top: -10%;
  transition: opacity 200ms;
}
input:focus + label,
textarea:focus + label{
  opacity: 1;
}
	.gradient{
		background: rgb(0,138,125);
		background: linear-gradient(45deg, rgba(0,138,125,1) 0%, rgba(2,87,182,1) 13%, rgba(23,0,156,1) 66%, rgba(40,0,126,1) 94%);
	}

	.text-gradient{
		background: rgb(0,156,141);
		background: linear-gradient(45deg, rgba(0,156,141,1) 0%, rgba(25,121,187,1) 10%, rgba(1,93,195,1) 42%, rgba(98,2,182,1) 95%);
	}

	.gradient-reverse {
	  background: linear-gradient(225deg, #d53369 0%, #daae51 100%);
	}

  .h-32rem{
    height: 32rem;
  }
  .h-20rem{
    height: 20rem;
  }
	.h-half{
		height: 50vh;
	}
	.w-32rem{
		width: 32rem;
	}
	.w-20rem{
		width: 20rem;
	}
	.w-half{
		width: 50vw;
	}
  .col-1 {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }

  .col-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
	.subject{
		height: 100px;
		// vertical-align: top;
	}
